<p id="notice"><%= notice %></p>

<h1>Git管理された蔵書管理アプリ</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Price</th>
      <th>Publisher</th>
      <th>Date</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @my_books.each do |my_book| %>
      <tr>
        <td><%= my_book.title %></td>
        <td><%= my_book.author %></td>
        <td><%= my_book.price %></td>
        <td><%= my_book.publisher %></td>
        <td><%= my_book.date %></td>
        <td><%= image_tag my_book.image %></td>
        <td><%= link_to 'Show', my_book %></td>
        <td><%= link_to 'Edit', edit_my_book_path(my_book) %></td>
        <td><%= link_to 'Destroy', my_book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New My book', new_my_book_path %>
